@{
    ViewData["Title"] = "Upload Excel";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>


<script src="~/jquery/jquery.min.js"></script>


<div style="margin-bottom:20px;">

    <input type="file" id="input" accept=".xls,.xlsx,.ods" style="float:left;" />

    <button id="btnSave" class="btn btn-primary" style="float:right;margin-right:10px;">Save</button>

</div>

<script type="text/javascript">
    var _oStudents = [],

        _oStudent = null,

        _headers = [];

    $(document).ready(function () {

        Init();

    });

    function Init() {

        _oStudent = NewStudentObj();

        $("#btnSave").click(function () {

            Save();

        });

        $("#input").on("change", function (e) {

            var file = e.target.files[0];

            if (!file) return;



            var FR = new FileReader();

            FR.onload = function (e) {

                var data = new Uint8Array(e.target.result);

                var workbook = XLSX.read(data, { type: 'array' });

                var firstSheet = workbook.Sheets[workbook.SheetNames[0]];

                var result = XLSX.utils.sheet_to_json(firstSheet, { header: 1 });

                GenerateTable(result);

            };

            FR.readAsArrayBuffer(file);

            $("#input").val("");

        });

    }

        

    function ExcelFromBase64(fileName, bytesBase64) {

        var link = document.createElement('a');

        link.download = fileName;

        link.href = 'data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + bytesBase64;

        document.body.appendChild(link);

        link.click();

        document.body.removeChild(link);

    }

    function GenerateTable(exportStatus) {

        Reset();

        

        if (exportStatus.length > 0) {

            var sTemp = "";

            var headers = exportStatus[0];

            

            $.map(headers, function (header) {

                _headers.push(header);

                

            });

            exportStatus = exportStatus.slice(3);

            exportStatus = exportStatus != null ? exportStatus.filter(x => x.length > 0) : exportStatus;

            var nSL = 0;

            for (var i = 0; i < exportStatus.length; i++) {

                nSL++;



                _oStudent = NewStudentObj();

                var valueIndex = 0;

                var es = exportStatus[i];

                for (var j = 0; j < _headers.length; j++) {

                    propValue = es[j];

                    propValue = typeof (propValue) == "undefined" ? "" : propValue;



                    var propName = _headers[valueIndex];

                    _oStudent[propName] = propValue;


                    valueIndex++;

                }


                _oStudents.push(_oStudent);
                Save(_oStudent)
            }

        }

    }

    function Save(_oStudent) {
        // alert('exportStatus');
        alert(_oStudent);
        if (exportStatus.length > 0) {

            var ajaxRequest = $.ajax({

                url: "../Home/UploadExceltoDB/",

                type: "POST",

                data: { students: _oStudent },

                dataType: "json",

                beforeSend: function () {



                },

            });

            ajaxRequest.done(function (data) {

                alert("Successfully saved.");

            });

            ajaxRequest.fail(function (jqXHR, textStatus) { alert("Error Found"); alerts('error title', 'error info', 'error'); });

        }

        else {

            alert("No Data Found.");

        }

    }
    function NewStudentObj() {

        var oStudent = {

            Sr: "",
            Date: "",
            Academic_Year: "",
            Session: "",
            Alloted_Category: "",
            Voucher_Type: "",
            Voucher_No: "",
            Roll_No: "",
            Admno_UniqueId: "",
            Status: "",
            Fee_Category: "",
            Faculty: "",
            Program: "",
            Department: "",
            Batch: "",
            Receipt_No: "",
            Fee_Head: "",
            Due_Amount: "",
            Paid_Amount: "",
            Concession_Amount: "",
            Scholarship_Amount: "",
            Reverse_Concession_Amount: "",
            Write_Off_Amount: "",
            Adjusted_Amount: "",
            Refund_Amount: "",
            Fund_TranCfer_Amount: "",
            Remarks: ""

        };

        return oStudent;

    }

</script>